{% extends "miniapp/base.html" %}
{% block content %}
  <h1>{{ m.requests.title }}</h1>
  {% include "miniapp/includes/listing_frame.html" %}
  <div class="stack" style="margin-top:2rem;">
    <a class="btn btn-secondary btn-icon" href="/app/demand/new/">
      {% include "miniapp/includes/icon.html" with name="archive" size="28" %}
      {{ m.home.send }}
    </a>
    <a class="btn btn-secondary btn-icon" href="/app/supply/new/">
      {% include "miniapp/includes/icon.html" with name="devices" size="28" %}
      {{ m.home.carry }}
    </a>
  </div>
{% endblock %}
